# Dependencies
node_modules
.DS_Store
*.tsbuildinfo

# Build
dist
.vite

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
# .vscode/ - enable .vscode/settings.json for encoding
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vercel
.tmp.driveupload/
.gigacode/
