# Dependencies
node_modules
.DS_Store
*.tsbuildinfo

# Build
dist
.vite

# Environment
.env
.env.local
.env.*.local
NEXT_PUBLIC_SUPABASE_URL=https://dbdavxlgbextipxpdibk.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_uAmiT8gGjxQGKfpEAYrlaA_iAc8JqsA
# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*